{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_detail.name }}</h1>
            <a href="{% url 'todo_list_edit' todo_object.id %}">Edit</a>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_detail.items.all %}
                    <tr>
                        <td>{{ item.task }}</td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </main>
</body>

</html>
